<section class="about-section section-padding" id="section_2">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-12 mb-4 mb-lg-0 d-flex align-items-center">
                <div class="services-info">
                    <h2 class="text-white mb-4"> Festava 2024 Hakkında</h2>

                    <p class="text-white">
                        FestavaLive, müzik, sanat ve kültürün bir araya geldiği, her köşesinde farklı bir macera sunan festivallerle dolu bir dünyadır. Burada, birbirinden ünlü sanatçıların performanslarını izleyebilir, yeni insanlarla tanışabilir ve benzersiz etkinliklerin tadını çıkarabilirsiniz.


                    </p>

                    <h6 class="text-white mt-4">FestavaLive Deneyimi</h6>

                    <p class="text-white">
                        FestavaLive, kullanıcılarına sadece bilet satmakla kalmaz, aynı zamanda festival deneyimlerini en iyi şekilde yaşamalarını sağlar. Burada, dünya çapındaki festivaller hakkında detaylı bilgi alabilir, biletlerinizi güvenle satın alabilir ve festival anılarınızı paylaşabileceğiniz bir topluluğun parçası olabilirsiniz.


                    </p>

                    <h6 class="text-white mt-4">Vizyonumuz</h6>

                    <p class="text-white">
                        Festivaller, kültürlerin ve toplulukların buluşma noktasıdır. Biz, insanları bu büyüleyici deneyimlerle buluşturmayı, yeni keşifler yapmalarını ve unutulmaz anılar biriktirmelerini sağlamak istiyoruz.

                    </p>
                </div>
            </div>

            <div class="col-lg-6 col-12">
                <div class="about-text-wrap">
                    <img src="~/Templates/FestavaLive-1.0.0/images/pexels-alexander-suhorucov-6457579.jpg" class="about-image img-fluid">

                    <div class="about-text-info d-flex">
                        <div class="d-flex">
                            <i class="about-text-icon bi-person"></i>
                        </div>


                        <div class="ms-4">
                            <h3>Mutlu Anlar</h3>

                            <p class="mb-0">Bu Muhteşem Eğlenceye Katılmaya Hazır mısınız ?</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
