<section class="schedule-section section-padding" id="section_4">
    <div class="container">
        <div class="row">

            <div class="col-12 text-center">
                <h1 class="text-white mb-4">
                    Etkinlik Takvimi</h1>

                    <div class="table-responsive">
                        <table class="schedule-table table table-dark">
                            <thead>
                                <tr>
                                    <th scope="col">Tarih</th>

                                    <th scope="col">Pazartesi</th>

                                    <th scope="col">Perşembe</th>

                                    <th scope="col">Cumartesi</th>

                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <th scope="row">20.06.2024</th>

                                    <td class="table-background-image-wrap pop-background-image">
                                        <h3>Arabesk Gecesi</h3>

                                        <p class="mb-2">22:15 - 01:30</p>

                                        <p>Değerli Ustalar İle Hüzünlenmeye Hazırlanın</p>

                                        <div class="section-overlay"></div>
                                    </td>

                                    <td style="background-color: #F3DCD4"></td>

                                    <td class="table-background-image-wrap rock-background-image">
                                        <h3>Karaoke Gecesi</h3>

                                        <p class="mb-2">19:35 - 02:20 </p>

                                        <p>Arkadaşlarınız İle Birlikte Eğlenmeye Hazırlanın</p>

                                        <div class="section-overlay"></div>
                                    </td>
                                </tr>

                                <tr>
                                    <th scope="row">24.06.2024</th>

                                    <td style="background-color: #ECC9C7"></td>

                                    <td>
                                        <h3>Süpriz Konuklar</h3>

                                        <p class="mb-2">17:00 - 01:00 </p>

                                        <p>Birbirinden Farklı Sanatçıları Dinleme Şansı</p>
                                    </td>

                                    <td style="background-color: #D9E3DA"></td>
                                </tr>

                                <tr>
                                    <th scope="row">26.06.2024</th>

                                    <td class="table-background-image-wrap country-background-image">
                                        <h3>Jazz Müzik Gecesi</h3>

                                        <p class="mb-2">19:30 - 22:30 </p>

                                        <p>Enstrümanların Büyüsüne Kapılın</p>

                                        <div class="section-overlay"></div>
                                    </td>

                                    <td style="background-color: #D1CFC0"></td>

                                    <td>
                                        <h3>Tiyatro Gecesi</h3>

                                        <p class="mb-2">20:00 - 23:00 </p>

                                        <p>Gülmeye , Düşünmeye ve Eğlenmeye Hazırlanın</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>
    </div>
</section>
