@model AcunMedyaFestavaLive.Entities.Message
@{
    ViewBag.Title = "MessageDetail";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<input type="hidden" asp-for="MessageID" />
<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Mesajlar</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title"> Mesaj Detayları</div>
                    </div>
                    <div class="card-body">
                        <div class="card-sub">
                            Gönderen: <b>@Model.NameSurname</b>
                            <br />
                            Email: <b>@Model.Email</b>
                            <br />
                            Konu: <b>@Model.Subject</b>
                            <br /><br />
                            Mesaj: <b>@Model.MessageDetail</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

